.header {
  background-color: #3b3c3d;
  padding: 43px 0;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header_logo {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.nav {
  display: flex;
  gap: 64px;
  cursor: pointer;
}

.nav_link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.nav_link:hover {
  color: white;
}
