* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  flex: 1;
  margin-bottom: auto;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
